push static 0
push static 1
push static 2
call BS.search 3
pop static 3

label END
goto END




push constant 0
pop local 0
push argument 1
push constant 1
sub
pop local 1

label start1
// provjera granica
push local 0
push local 1
gt
if-goto end1

// racunanje sredine
push local 0
push local 1
push local 0
sub
call BS.divtwo 1
add
pop local 2

// Dohvatim elementa iz polja
push argument 0
push local 2
add
pop pointer 1
push that 0
push argument 2
eq
if-goto found

// azuriranje granica ovisno o usporedbi
push that 0
push argument 2
lt
if-goto update_low

push local 2
push constant 1
sub
pop local 1

goto start1

label update_low
push local 2
push constant 1
add
pop local 0

goto start1

label found
// vracanke indeksa pronadenog elementa
push local 2
return

label end1
// el nije pronaden, vrati -1
push constant 0
push constant 1
sub
return

// funk za dijeljenje s 2
function BS.divtwo 2
push argument 0
pop local 0

label start
// provjerim jel broj jednak ili manji od 0
push local 0
push constant 0
eq
if-goto end

push local 0
push constant 0
lt
if-goto end

// smanjujem broj za 2 dok ne postane manji od 0
push local 0
push constant 2
sub
pop local 0

// brojac za rezultat dijeljenja
push local 1
push constant 1
add
pop local 1

goto start

label end
// vraacanje rezultata dijeljenja
push local 1
return
